ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
address {
    font-style: normal;
}
button {
    font-family: inherit;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
:root {
    --main-text: #757575;
    --text:#212121;
    --active:#2196F3;
    --team-bgc:#F5F4FA;
    --footer:#2F303A;
}
.page {font-family: 'Roboto', 'Raleway', sans-serif;
    font-family: 'Roboto';
    color: var(--main-text);
}

.container {
margin-left: auto;
margin-right: auto;
max-width: 1200px;
padding-left: 15px;
padding-right: 15px;
/* outline: 2px solid tomato; */
}
.section {
padding-top: 94px;
padding-bottom: 94px;
}

/* верхня лінія */
.header {
    border-bottom: 1px solid #ECECEC;
}
.header .container{
    display: flex;
    align-items: center;
}

.logo {font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    display: flex;
    align-items: center;
    margin-right: 93px;
}
.nav {
    display: flex;
}
.nav-list {
    display: flex;
}
.nav-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text);
        display: flex;
        margin-top: 24px;
        margin-right: 50px;
        margin-bottom: 24px;
}
.web,
.current {
    color: var(--active);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--active);
}
.connect{
    margin-left: auto;
}
.connect-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text);
}
.connect .tel {
margin-left: 50px;
}

.connect-link:hover,
.connect-link:focus{color:var(--active);
}

/* шапка */
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--footer);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}
.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border: #2196F3;
    border-radius: 4px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.hero-btn {cursor: pointer;}

.hero-btn {color: #fff; ;
    background-color: var(--active);
}
/* особливості */
.none-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.about-list {
    display: flex;
    margin-bottom: 94px;
}
.about-item {
    margin-right: 30px;
}
.about-item:last-child {margin-right: 0;}

.small-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text);
    margin-bottom: 10px;
}
.about-text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}
.subject-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text);
    margin-bottom: 50px;
}
.subject-list{
    display: flex;
    justify-content: space-between;

}
    /* Наша команда */

.team {
    background-color: var(--team-bgc) ;
}
.team-list {
    display: flex;

}
.team-item{
    background-color: #ffffff;
    width: 370px;
    height: 368px;
    margin-right: 30px;
}
.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.67;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text);
        margin-bottom: 50px;
}
.team-desc {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.name {
color: var(--text);
margin-bottom: 10px;
font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
/* портфоліо */
.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-item{
margin-right: 8px;
}
.filter-item:last-child{
    margin-right: 0;
}
.filter-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text);
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border: var(--team-bgc);
    border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus{
    color: #ffffff;
    background-color: var(--active);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.image-desc {
    width: 370px;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text);
    margin-bottom: 4px;
}
.category {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/* підвал */
.footer {
    background-color: var(--footer);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    color: white;
    display: flex;
    margin-bottom: 20px;
}

.footer-item{
    margin-bottom: 9px;
}
.footer-item:last-child {
    margin-bottom: 0;
}
.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.link-map {color: #FFFFFF;}
.footer-link:hover,
.footer-link:focus{color: var(--active);}
